<div [formGroup]="form">
    <md-card-title>{{(product | async)?.name}}</md-card-title>
    <h4>Get help when you need it</h4>
    <div class="tiles">
        <div class="tile"
             [class.selected]="form.controls['advancedSupport'].value === 'None'">
            <h2><a md-button (click)="form.controls['advancedSupport'].setValue('None')">Standard (included)</a></h2>
        </div>
        <div class="tile" *ngIf="(catalog.selectedProduct | async) != 'ActPremiumCloud'"
             [class.selected]="form.controls['advancedSupport'].value === 'Annual'">
            <h2><a md-button (click)="form.controls['advancedSupport'].setValue('Annual')">1 Year ($99/year)</a></h2>
        </div>
        <div class="tile" *ngIf="(catalog.selectedProduct | async) != 'ActPremiumCloud'"
             [class.selected]="form.controls['advancedSupport'].value === 'Days30'">
            <h2><a md-button (click)="form.controls['advancedSupport'].setValue('Days30')">30 day ($35/month)</a></h2>
        </div>
        <div class="tile" *ngIf="(catalog.selectedProduct | async) == 'ActPremiumCloud'"
             [class.selected]="form.controls['advancedSupport'].value === 'Premier'">
            <h2><a md-button (click)="form.controls['advancedSupport'].setValue('Premier')">Premier ($5/user/month)</a>
            </h2>
        </div>
    </div>
</div>

