.ipynb_checkpoints/
node_modules/
npm-debug.log*
.idea/
Utilities/ca
Utilities/.modules
.output
.functions
.build
.bundle
cached-permissions.json
Analytics/movies.sqlite.db
Analytics/movies.sqlite.db-journal
*.tags*
.tags
Analytics/.DS_Store
**/.DS_Store
Resources/Projects/rosetta-euler/csharp/005/Debug
Resources/Projects/rosetta-euler/csharp/005/.vs
