<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.jupytangular.todaysevents</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/node</string>
            <string>-e</string>
            <string>require('/Users/briancullinan/jupytangular2/Core').import('run todays calendar events')().then(e=>{ console.log(e); process.exit(e);}).catch(e=>{console.log(e); process.exit(e) });</string>
        </array>
        <key>ExitTimeOut</key>
        <integer>600</integer>
        <key>StartInterval</key>
        <integer>60</integer>
        <key>StandardOutPath</key>
        <string>/tmp/myjob.log</string>
        <key>StandardErrorPath</key>
        <string>/tmp/myjob.log</string>
        <key>RunAtLoad</key>
        <true/>
        <key>LaunchOnlyOnce</key>
        <false/>
    </dict>
</plist>