<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.jupytangular.emailcommands</string>
        <key>Program</key>
        <string>/bin/bash</string>
        <key>ProgramArguments</key>
        <array>
            <string>-s</string>
            <string>-c</string>
            <string>/usr/local/bin/node -e "require('/Users/briancullinan/jupytangular2/Core').import('heartbeat thump')('scan commands email')"</string>
        </array>
        <key>StartInterval</key>
        <integer>3600</integer>
        <key>StandardOutPath</key>
        <string>/tmp/myjob.log</string>
        <key>StandardErrorPath</key>
        <string>/tmp/myjob.log</string>
        <key>RunAtLoad</key>
        <true/>
        <key>LaunchOnlyOnce</key>
        <false/>
        <key>KeepAlive</key>
        <false/>
    </dict>
</plist>