[Unit]
Description=Jupytangular heartbeat

[Service]
ExecStart=/usr/bin/node -e "require('/home/ubuntu/jupytangular/Core').import('todays heartbeat items')('aws')"
User=ubuntu
MemoryMax=200M
Type=forking

[Install]
WantedBy=timers.target
