[Unit]
Description=Jupytangular heartbeat

[Service]
ExecStart=/usr/bin/node -e "require('/home/ubuntu/jupytangular/Core).import('heartbeat')('todays heartbeat items')"
User=seluser
MemoryMax=200M

[Install]
WantedBy=timers.target
