<md-card>
    <form [formGroup]="form">
        <div class="contain">
            <md-card-title>Review your subscription</md-card-title>
            <div>
                <div *ngFor="let subscription of subscriptions">
                    <bc-subscription-actpremiumcloud [form]="form" [subscription]="subscription"
                                                     *ngIf="subscription.name === 'ActPremiumCloud'"></bc-subscription-actpremiumcloud>
                    <bc-subscription-actemarketing [form]="form" [subscription]="subscription"
                                                   *ngIf="subscription.name === 'ActEmarketing'"></bc-subscription-actemarketing>
                    <bc-subscription-support [form]="form" [subscription]="subscription"
                                             *ngIf="subscription.name === 'Support'"></bc-subscription-support>
                    <bc-subscription-actpremium [form]="form" [subscription]="subscription"
                                                *ngIf="subscription.name === 'ActPremium'"></bc-subscription-actpremium>
                    <bc-subscription-actpro [form]="form" [subscription]="subscription"
                                            *ngIf="subscription.name === 'ActPro'"></bc-subscription-actpro>
                    <bc-subscription-handheld [form]="form" [subscription]="subscription"
                                              *ngIf="subscription.name === 'HandheldContact'"></bc-subscription-handheld>
                </div>
            </div>
        </div>
    </form>
</md-card>
