<nav>
<a md-button [mdMenuTriggerFor]="whyact">Why Act!</a>
<md-menu #whyact="mdMenu">
    <a md-menu-item href="https://www.act.com/why-act/get-organized">Get Organized</a>
    <a md-menu-item href="https://www.act.com/why-act/know-my-customers">Know My Customers</a>
    <a md-menu-item href="https://www.act.com/why-act/market-my-business">Market My Business</a>
    <a md-menu-item href="https://www.act.com/why-act/drive-sales">Drive Sales</a>
    <a md-menu-item href="https://www.act.com/why-act/understand-my-business">Understand My Business</a>
    <a md-menu-item href="https://www.act.com/customers/customer-testimonials">Customer Testimonials</a>
</md-menu>
<a md-button [mdMenuTriggerFor]="products">Products</a>
<md-menu #products="mdMenu">
    <a md-menu-item href="https://www.act.com/products">Act! Premium</a>
    <a md-menu-item href="https://www.act.com/products/act-pro">Act! Pro</a>
    <a md-menu-item href="https://www.act.com/products/act-emarketing">Act! emarketing</a>
    <a md-menu-item href="https://www.act.com/products/act-essentials">Act! Essentials</a>
    <a md-menu-item href="https://www.act.com/products/connections">Connections</a>
    <a md-menu-item href="https://www.act.com/products/handheld-contact-mobile-add-on">Handheld Contact Mobile Add-on</a>
    <a md-menu-item href="https://www.act.com/products/whats-new">What’s New</a>
</md-menu>
<a md-button routerLink="/buy">Pricing</a>
<a md-button [mdMenuTriggerFor]="resources">Customer Resources</a>
<md-menu #resources="mdMenu">
    <a md-menu-item href="https://www.act.com/resources">Act! Customer Resources</a>
    <a md-menu-item href="https://www.act.com/act-emarketing-resources">Act! emarketing Resources</a>
    <a md-menu-item href="https://actcloud1.zendesk.com/hc/en-us" target="_blank">Act! Essentials Resources</a>
    <a md-menu-item href="https://www.act.com/resources/getting-started">Act! Getting Started</a>
    <a md-menu-item href="https://www.act.com/resources/api">Act! API Resources</a>
</md-menu>
<a md-button [mdMenuTriggerFor]="partners">Partners</a>
<md-menu #partners="mdMenu">
    <a md-menu-item href="http://partners.act.com/search?CountryID=1">Find an Act! Certified Consultant</a>
    <a md-menu-item href="http://partners.act.com/hostingproviders">Hosting Providers</a>
    <a md-menu-item href="http://partners.act.com/distributors">Distributors</a>
    <a md-menu-item href="http://partners.act.com/becomeanacc">Become an Act! Certified Consultant</a>
    <a md-menu-item href="http://partners.act.com/affiliateprogram">Affiliate Partner Program</a>
</md-menu>
<a md-button href="https://www.act.com/act-blog">Blog</a>
<a md-button routerLink="/contact">Contact Us</a>
</nav>