<section class="banner">
    <div class="contain">
        <h1>Act! is the #1 best-selling<br>
            Customer &amp; Contact Manager</h1>
        <p>Affordable and easy to use, Act! CRM is the trusted contact management software to help individuals, small
            businesses, and sales teams organize prospect and customer details in one place, send emails, market
            products
            and services more effectively, and drive sales results – in the office and on the road.</p>
        <a md-raised-button color="primary" routerLink="/trial">Try Act! free</a>
        &nbsp;&nbsp;&nbsp;
        <a md-raised-button routerLink="/demo">Request a demo</a>
        <div class="phoneCTA">
            <p>Or speak to an Act! representative to find out more</p>
            <a class="phone" href="tel:8668732006">866-873-2006</a>
        </div>
    </div>
</section>


<section class="current-customers">
    <h4 class="contain">Over 72,000 companies in 150 countries use Act! CRM every day to grow their business</h4>
    <div class="contain">
        <a href="https://www.act.com/customers/testimonial/reebok">
            <img src="https://www.act.com/images/librariesprovider4/customer-testimonials/Logos/reebok-sports-club-logo.tmb-.png?sfvrsn=1"
                 alt="reebok-sports-club-logo" title="reebok-sports-club-logo">
        </a>
        <a href="https://www.act.com/customers/testimonial/morningside">
            <img src="https://www.act.com/images/librariesprovider4/customer-testimonials/Logos/morningside-logo.tmb-.png?sfvrsn=1"
                 alt="morningside-logo" title="morningside-logo">
        </a>
        <a href="https://www.act.com/customers/testimonial/occuvax">
            <img src="https://www.act.com/images/librariesprovider4/customer-testimonials/Logos/occuvax-logo.tmb-.png?sfvrsn=1"
                 alt="occuvax-logo" title="occuvax-logo">
        </a>
        <a href="https://www.act.com/customers/testimonial/barnden">
            <img src="https://www.act.com/images/librariesprovider4/customer-testimonials/Logos/barnden-financial-logo_white.tmb-.png?sfvrsn=1"
                 alt="Barnden-Financial-logo_White" title="Barnden-Financial-logo_White">
        </a>
        <a href="https://www.act.com/customers/testimonial/color-business-centers">
            <img src="https://www.act.com/images/librariesprovider4/customer-testimonials/Logos/color-business-centers-logo.tmb-.png?sfvrsn=1"
                 alt="color-business-centers-logo" title="color-business-centers-logo">
        </a>
    </div>
</section>

<div class="business-solutions">
    <h2 class="contain orange">Act! CRM has a solution that suits your business</h2>
    <p class="contain">Whether your business needs basic contact management or sophisticated sales process automation,
        Act! has a solution to fit your needs.</p>
    <div class="contain">
        <div class="pad bg_blue">
            <div class="wrap">
                <h3>Act! Pro</h3>
                <p>The perfect fit for individuals and small businesses that seek robust contact management
                    functionality for a low upfront price.</p>
                <a md-raised-button href="https://www.act.com/products/act-pro" class="button button_white">Learn
                    more</a>
            </div>
        </div>
        <div class="pad bg_orange feature">
            <div class="wrap">
                <h3>Act! Premium</h3>
                <p>Collaborate with your team to stay up-to-date on the latest contact and activity details, automate
                    best practice sales processes, and send targeted email marketing campaigns – from in the office or
                    on the road.</p>
                <a md-raised-button class="button button_white" href="https://www.act.com/products">Learn more</a>
            </div>
        </div>
        <div class="pad bg_green">
            <div class="wrap">
                <h3>Act! Essentials</h3>
                <p>Consolidate and manage your contacts, activities, notes, and history in one organized place,
                    accessible from anywhere.</p>
                <a md-raised-button href="https://www.act.com/products/act-essentials" class="button button_white">Learn
                    more</a>
            </div>
        </div>
    </div>
</div>


<div class="works-with">
    <div class="contain">
        <h3>Act! CRM works with the apps you already use to run your business</h3>

        <div class="integrations">
            <div class="effects">
                <img id="act-companion-logo-thumb"
                     src="https://www.act.com/images/default-source/Connections/act-companion-logo-thumb.png?sfvrsn=2"
                     alt="act-companion-logo-thumb" title="act-companion-logo-thumb"/>
                <p class="center">Act! Companion</p>
            </div>

            <div class="effects">
                <img id="act_fb_ads_thumb_temp2"
                     src="https://www.act.com/images/default-source/Connections/act_fb_ads_thumb_temp2.png?sfvrsn=0"
                     alt="act_fb_ads_thumb_temp2" title="act_fb_ads_thumb_temp2">
                <p class="center">Act! Facebook Ads powered by Tiger Pistol</p>
            </div>

            <div class="effects">
                <img id="Outlook_thumb"
                     src="https://www.act.com/images/default-source/Connections/outlook_thumb.png?sfvrsn=20"
                     alt="Outlook_thumb" title="Outlook_thumb">
                <p class="center">Act! Premium Contact Link (Outlook®)</p>
            </div>

            <div class="effects">
                <img id="Slack_thumb"
                     src="https://www.act.com/images/default-source/Connections/slack_thumb54b264e796e1633a9d88ff00001e67f5.png?sfvrsn=2"
                     alt="Slack_thumb" title="Slack_thumb">
                <p class="center">Slack™</p>
            </div>
        </div>
        <div class="integrations">
            <div class="effects">
                <img id="SurveyMonkey_thumb"
                     src="https://www.act.com/images/default-source/default-album/surveymonkey_thumb.png?sfvrsn=2"
                     alt="SurveyMonkey_thumb" title="SurveyMonkey_thumb">
                <p class="center">SurveyMonkey</p>
            </div>

            <div class="effects">
                <img id="EventBrite_thumb"
                     src="https://www.act.com/images/default-source/Connections/eventbrite_thumb2ab264e796e1633a9d88ff00001e67f5.png?sfvrsn=2"
                     alt="EventBrite_thumb" title="EventBrite_thumb">
                <p class="center">Eventbrite</p>
            </div>

            <div class="effects">
                <img id="PayPal_thumb"
                     src="https://www.act.com/images/default-source/Connections/paypal_thumb.png?sfvrsn=2"
                     alt="PayPal_thumb" title="PayPal_thumb">
                <p class="center">PayPal®</p>
            </div>

            <div class="effects">
                <img id="Google Contacts_thumb"
                     src="https://www.act.com/images/default-source/Connections/google-contacts_thumb.png?sfvrsn=2"
                     alt="Google Contacts_thumb" title="Google Contacts_thumb">
                <p class="center">Google Contacts</p>
            </div>
        </div>
        <a md-raised-button href="https://www.act.com/products/connections/">Find out more about Act! Connections</a>
    </div>
</div>


<div class="partners">
    <h4 class="contain">From initial set-up and customization to integration and training, there is no better resource
        than our
        worldwide network of consultants.</h4>
    <a md-raised-button color="primary" href="http://partners.act.com/search?CountryID=1">Find your local partner here
        »</a>
</div>