<md-card [formGroup]="form">
    <md-card-title>Enter your payment information</md-card-title>
    <md-input-container>
        <input mdInput type="text" placeholder="Card number" />
    </md-input-container>
    <br />
    <div class="half">
        <md-select placeholder="Expiration" formControlName="expiration">
            <md-option value="{{month}}" *ngFor="let month of months">{{month}}</md-option>
        </md-select>
        <md-select placeholder="Year" formControlName="year">
            <md-option value="{{year}}" *ngFor="let year of years">{{year}}</md-option>
        </md-select>
    </div>
    <br />
    <md-input-container>
        <input mdInput type="text" placeholder="CVV" />
    </md-input-container>
    <br />
    <md-input-container>
        <input mdInput type="text" placeholder="Cardholder name" />
    </md-input-container>
    <br />
    <md-input-container>
        <input mdInput type="text" placeholder="Address" />
    </md-input-container>
    <br />
    <md-input-container>
        <input mdInput type="text" placeholder="Country" />
    </md-input-container>
    <br />
    <md-input-container>
        <input mdInput type="text" placeholder="State" />
    </md-input-container>
    <br />
    <md-input-container>
        <input mdInput type="text" placeholder="City" />
    </md-input-container>
    <br />
    <md-input-container>
        <input mdInput type="text" placeholder="Postal code" />
    </md-input-container>
</md-card>