@import "../../../assets/colors";

:host(bc-footer) {
    display: block;
    background: rgba(240, 240, 240, 1);
    max-width: 100%;
    color: mat-contrast(map-get($theme, primary), 100)
}

footer.contain {
    display: flex;
}

footer > div {
    width: 25%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
    margin: 0;
    list-style: none;
}

a {
    color: mat-contrast(map-get($theme, primary), 100)
}
