
div.isBuy {
    display: flex;
    flex-direction: row;
}

div.isBuy /deep/ > * > md-card {
    min-height: 100%;
}

div.isBuy /deep/ > *:not(router-outlet):not(bc-subtotal) {
    flex: 1 1 auto;
    max-width: 65%;
}

:host > div {
    background: white;
}


