<div [formGroup]="form" [class.selected]="(catalog.selectedTerm | async) == term">
    <h2>
        <a md-button [routerLink]="'/buy/subscriptions/' + (catalog.selectedProduct | async) + '/' + term">{{term}}</a>
        <span *ngIf="(catalog.selectedTerm | async) == term"><i>+</i>
            <input type="number" step="1" min="1" pattern="\d*" max="999"
                   onkeypress="return (event.charCode === 8 || event.charCode === 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                   formControlName="quantity"/></span>
        <div *ngIf="(catalog.selectedTerm | async) == term" class="up-down">
            <button md-button (click)="add()">
                <md-icon md-list-icon>arrow_drop_up</md-icon>
            </button>
            <button md-button (click)="sub()" [disabled]="form.controls['quantity'].value < 2">
                <md-icon md-list-icon>arrow_drop_down</md-icon>
            </button>
        </div>
    </h2>
</div>