
.tiles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 10px;
    overflow: hidden;
}

.tiles.natural {
    justify-content: flex-start;
}

.tiles.natural .tile {
    flex-grow: 0;
    flex-basis: auto;
}

.tile.selected /deep/ h2, .tile /deep/ .selected h2 {
    background: #0087b8;
    color: white;
}

.tile /deep/ h2 {
    margin: 0;
    border: 2px solid #0087b8;
    border-radius: 10px;
    font-size: 18px;
    height: 100%;
    text-align: center;
    padding: 0;
}

.small-tiles {
    padding: 0 20px;
}

.tiles /deep/ .mat-button {
    padding: 20px;
    color: #0087b8;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: inherit;
    font-size: inherit;
}

.small-tiles /deep/ .mat-button {
    padding: 10px;
}

.small-tiles /deep/ .selected .mat-button {
}

.tile.selected .mat-button, .tile /deep/ .selected .mat-button {
    color: white;
}

.tile /deep/ h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background: transparent;
    outline: none;
    max-width: 35px;
    width: auto;
    font-size: inherit;
    text-align: right;
}

.selected input {
    color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.up-down {
    flex-basis: 0;
}

.small-tiles /deep/ h2 > span {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-tiles /deep/ .up-down .mat-button {
    line-height: inherit;
    min-width: 0;
    padding: 0 5px;
}

md-checkbox {
    flex-basis: 100%;
}
