
.contain {
  display:flex;
  flex-direction: row;
}

md-card {
  width:50%;
  min-height: 100%;
}

iframe {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  height:100%;
  width:100%;
}

.video-container {
  width:100%;
  margin: 20px 0;
  padding-bottom:56%;
  position: relative;
}

.register-wrapper {
  background: rgba(0, 0, 0, 0.03);
  text-align: center;
}


