<div class="contain">
    <md-card>
        <md-card-title>#1 Best-Selling Customer and Contact Manager</md-card-title>
        <p>Act! Premium helps organize all your prospect and customer details in one place so you can prioritize your
            day and market your products and services more effectively, helping to drive sales results while creating
            customers for life.</p>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/mq6eXEC_qFo?rel=0&amp;controls=0&amp;modestbranding=1&amp;showinfo=0&amp;enablejsapi=1"
                    frameborder="0" allowfullscreen=""></iframe>
        </div>
        <md-card-title>Affordability, Flexibility and Variety</md-card-title>
        <p>Act! has a solution that’s perfect for your business. The Act! suite of solutions works the way you work by
            providing:</p>
        <ul>
            <li>Expert support</li>
            <li>Intelligent recommendations</li>
            <li>Rich integrations with the business tools you rely on every day</li>
            <li>Ultimate flexibility to meet all of your payment, deployment, and access needs</li>
            <li>Email marketing - Basic Act! Emarketing included at no additional cost</li>
        </ul>
    </md-card>
    <md-card class="register-wrapper">
        <md-card-title *ngIf="!(done | async)">Try Act! Premium for Free</md-card-title>
        <bc-register-form [form]="form" [registrationUser]="registrationUser" *ngIf="!(done | async)"></bc-register-form>
        <div class="done" *ngIf="(done | async)">
            <md-card-title>Check your inbox</md-card-title>
            <p>You will receive a Welcome email to help you get started. Please allow up to 15 minutes to receive your
                Welcome email. Note: Your Welcome email will contain login credentials to access your trial. Be sure to
                add act_team@e.act.com to your email address book or safe list, and check your junk folder. Also keep a
                lookout for emails on how to make the most of your trial experience.</p>
        </div>
        <md-card-actions *ngIf="!(done | async)">
            <button md-raised-button color="primary" (click)="onSubmit()">Start your free trial</button>
        </md-card-actions>
    </md-card>
</div>
